@page "{strategyId:int}"
@model WebApplication2.Pages.StrategyDetailsModel
@{
    ViewData["Title"] = "Chi tiết chiến lược";
}

<h1>Chi tiết chiến lược</h1>

@if (Model.SelectedStrategy == null)
{
    <p>Chiến lược không hợp lệ. Vui lòng quay lại trang trước.</p>
    <a href="/ChooseStrategies" class="btn btn-primary">Quay lại</a>
}
else
{
    <p>Thông tin chi tiết về chiến lược bạn đã chọn:</p>

    <h3>@Model.SelectedStrategy.Name</h3>
    <p><strong>Mô tả:</strong> @Model.SelectedStrategy.Description</p>
    <div>
        <div><strong>UAVs:</strong> @Model.SelectedStrategy.UAVCount</div>
        <div><strong>Thời gian duy trì tối đa:</strong> @Model.SelectedStrategy.MaxDuration</div>
        <div><strong>Phạm vi tối đa:</strong> @Model.SelectedStrategy.MaxRange</div>
        <div><strong>Tốc độ truyền:</strong> @Model.SelectedStrategy.TransmissionSpeed</div>
    </div>

    <div>
        Phần này trình bày bản đồ chiến lược

        <p>Bản đồ đã bao phủ</p>

        <p> % bao phủ: 99%</p>
    </div>

    <a href="/ChooseStrategies" class="btn btn-primary">Chọn chiến lược khác</a>
    <a href="/Statistics" class="btn btn-primary">Statistics</a>
}
